_remove
.git-*
/unitframe/oUF_Mlight/oUF/
/unitframe/oUF_Phanx/oUF/
/bars/TinyExtraBars/TinyExtraBars-0.lua
/bars/TinyExtraBars/TinyExtraBars-0.xml
/base/AddonLoader/.Dropped.lua
/base/Leatrix_Plus/Leatrix_Plus-0.lua
/base/Leatrix_Plus/Leatrix_Plus-0.toc
/base/Leatrix_Plus/Leatrix_Plus-01-10.lua
/dev/tekDebug/SlimPanel.lua-1
/base/Ace3/_r1118
